<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title ></title>
    <script lang="javascript" src="../lib/angular.min.js"></script>
    <script lang="javascript" src="../script/githubtools.js"></script>
    <script src="../script/tools.js"></script>
    <script>
        var app = angular.module('myApp', []);
        var BlogTitle=getQueryString("blog");
        document.title = decodeURIComponent(BlogTitle);

        var app = angular.module('myApp', []);
        httpget(app,getHttpFiles("md/"+BlogTitle+".md"),"download");

    </script>
</head>
<body>
<div ng-app="myApp" ng-controller="customersCtrl">

   <p ng-model="blog"> {{blog}}</p>
    <p ng-model="download">{{download.download_url}}</p>
</div>
</body>
</html>